/.build/*

!/.build/uiuck/
/.build/uiuck/*
!/.build/uiuck/*.k

!/.build/rvk/
/.build/rvk/*

!/.build/secp256k1
!/.build/pyethereum
!/.build/tangle

/tests/proofs

# This holds the tests that are split into one test per file from
# the ethereum tests
/tests/VMTests
/tests/BlockchainTests

# Directory for storing temporary files like logs, snippets and TODO lists.
/tmp

# TODO: The RVK make recipie should be putting these in .build

/.kompile*
/.kprove*
/.krun*
result*
