[submodule "tests/ethereum-tests"]
	path = tests/ethereum-tests
	url = https://github.com/ethereum/tests.git
	branch = develop
[submodule ".build/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "plugin"]
	path = plugin
	url = https://github.com/runtimeverification/blockchain-k-plugin
[submodule "web/k-web-theme"]
	path = web/k-web-theme
	url = git@github.com:runtimeverification/k-web-theme.git
