Source: kiele
Section: devel
Priority: optional
Maintainer: Everett Hildenbrandt <everett.hildenbrandt@runtimeverification.com>
Build-Depends: clang-8 , cmake , kframework , libcrypto++-dev , libjemalloc-dev , libprocps-dev , libprotobuf-dev , libsecp256k1-dev , libssl-dev , opam , pkg-config , protobuf-compiler
Standards-Version: 3.9.6
Homepage: https://github.com/runtimeverification/iele-semantics

Package: kiele
Architecture: any
Section: devel
Priority: optional
Depends: libcrypto++6 , libjemalloc1 , libmpfr6 , libprotobuf10 , libsecp256k1-0
Description: KIELE
 K Semantics of the Iele Virtual Machine
