name: "Test"
on:
  pull_request:
jobs:

  # Run ./nix/rematerialize.sh from iele-assemble if this job fails.
  test-nix-material:
    name: 'Nix materialization'
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2.3.4
      with:
        submodules: recursive

    - name: Install Nix
      uses: cachix/install-nix-action@v12
      with:
        extra_nix_config: |
          substituters = http://cache.nixos.org https://hydra.iohk.io
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=

    - name: Install Cachix
      uses: cachix/cachix-action@v8
      with:
        name: runtimeverification
        skipPush: true

    - name: Check materialization
      run: nix-build --arg checkMaterialization true iele-assemble -A project.stack-nix

  test-nix:
    name: 'Nix'
    needs: test-nix-material
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2.3.4
      with:
        submodules: recursive

    - name: Install Nix
      uses: cachix/install-nix-action@v12
      with:
        extra_nix_config: |
          substituters = http://cache.nixos.org https://hydra.iohk.io
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=

    - name: Install Cachix
      uses: cachix/cachix-action@v8
      with:
        name: runtimeverification
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: Build
      run: nix-build

    - name: Run unit tests
      run: nix-build iele-assemble -A project.iele-assemble.checks

  # Update INSTALL.md if this job changes.
  test-nix-install:
    name: 'Nix: Install'
    needs: test-nix
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Test end-to-end installation instructions
        run: |
          bash <(curl -L https://nixos.org/nix/install) ${{ matrix.nix-install-opts }}
          . $HOME/.nix-profile/etc/profile.d/nix.sh
          nix-env -iA cachix -f https://cachix.org/api/v1/install
          cachix use runtimeverification
          git clone https://github.com/${{ github.repository }}
          cd $(basename ${{ github.repository }})
          git fetch origin
          git checkout ${{ github.sha }}
          nix-env -f . -i

